@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
}

/* nav bar CSS style */

.nav {
  overflow: hidden;
  border-bottom: 2px solid black;
}

.nav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 17px;
  height: 1.5rem;
  margin:auto;
  align-items: center;
  
}

.nav a.icon {
  float: right !important;
  display: none;
}

a.nav-logo {
  display: flex;
  align-items: center;
  height: 1.5rem;
}

.nav-title {
  font-size: 1.5em;
}

.nav-icon {
  height: 3rem;
}

.nav .search {
  float: right;
}

.nav input[type=text] {
  padding: .4rem;
  margin-top: .6rem;
  margin-bottom: .5rem;
  font-size: 17px;
  border: 1px solid grey;
  border-radius: .2rem;
}

.nav .search button {
  float: right;
  padding: .4rem .6rem;
  margin-top: .6rem;
  margin-right: 1rem;
  margin-left: .5rem;
  margin-bottom: .5rem;
  background: #ddd;
  font-size: 17px;
  border: 1px solid grey;
  cursor: pointer;
  border-radius: .2rem;
}

.nav .search button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .nav {
    overflow: hidden;
    border-bottom: 2px solid black;
  }

  .nav #links{
    display: none;
  }

  .nav.search {
    display: none;
  }

  .nav a.icon {
    float: right !important;
    display: flex;
    top: 0px !important;
    right: 0px !important;
    position: fixed !important;
  }

  a.nav-logo {
    display: flex !important;
    align-items: center;
    height: 1.5rem;
  }

  .nav a, .nav input[type=text], .nav .search button {
    float: none;
    text-align: left;
    margin: 0;
    padding: 1rem;
    border: none;

  }

  .nav input[type=text] {
    border: 1px solid #ccc;
  }

  .nav .search {
    display: inline-flex;
    float: right;
    margin-right: 1rem;
    margin-bottom: .5rem;
  }
}

/* main CSS style */

main {
  background-color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  margin: 30px auto;
  max-width: 44rem;
  padding: 15px;
  transition: all 0.2s ease;
  width: 80%;
}

/* generic button CSS style */

button {
  background-color: #ffffff;
  border: 1px solid rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
}

/* header CSS style */

div.title-edit-wrapper {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  align-items: center;
  margin-top: 1rem;
}

div.rating-favorite-wrapper {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  align-items: center;
  margin-bottom: 1rem;
}

div.rating {
  display: inline-flex;
  align-items: center;
}

.divider {
  display: inline-block;
  height: 1.5rem;
  width: 1px;
  background: rgb(0, 0, 0);
  margin-right: 1rem;
  margin-left: 1rem;
  align-items: center;
}

div.recipe-description-wrapper {
  margin-top: .5rem;
  margin-bottom: .5rem;
  outline: 1px solid rgb(0, 0, 0);
  padding: 2rem;
}

/* sub-header CSS style */

#sub-header {
  display: flex;
  outline: 1px solid rgb(0, 0, 0);
  margin-top: .75rem;
  padding: .5rem;
}

div.sub-header{
  padding: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  display: grid;
  outline: 0px solid rgb(0, 0, 0);
  width: 100%;
}

div.ingredients-wrapper {
  border-right: 1px solid rgb(0, 0, 0);
}

div.quick-facts-wrapper {
  border-bottom: 1px solid rgb(0, 0, 0);
}

div.measurements-wrapper {
  padding-top: 1rem;
}

div.serving-adjust {
  display: flex;
  align-items: center;
  margin: 1rem;
}

/* body CSS style */

div.steps-wrapper{
  padding: 1rem;
  margin-top: 1.25rem;
  margin-bottom: .5rem;
  display: grid;
  outline: 1px solid rgb(0, 0, 0);
}

div.videos-wrapper{
  padding: 1rem;
  margin-top: 1.25rem;
  margin-bottom: .5rem;
  display: grid;
  outline: 1px solid rgb(0, 0, 0);
}

div.nutrition-wrapper{
  padding: 1rem;
  margin-top: 1.25rem;
  margin-bottom: .5rem;
  display: grid;
  outline: 1px solid rgb(0, 0, 0);
}

/* image CSS style */

img.rating {
  height: 1rem;
  display:flex;
  align-items: center;

}

img.main-recipe-image{
  object-fit: cover;
  height: auto;
  max-height: 27rem;
  width: 100%;
  outline: 1px solid rgb(0, 0, 0);
  margin: 0rem;
}

/* text CSS style */
p.title {
  font-size: 24px;
}

p.subtitle {
  font-size: 20px;
  margin: 0px;
  padding: 0px;
  text-decoration: underline;
  text-decoration-color: gold;
}

p.description {
  font-size: 16px;
  margin: 0px;
}

p.quick-fact {
  padding-left: 1.75rem;
  margin-bottom: 1rem;
}

p.step {
  margin-bottom: .5rem;
}

/* list CSS style */

ul{
  padding-left: 1rem;
  padding-right: 2rem;
}

ul.rating-stats {
  display: flex;
  padding-left: 1rem;
  align-items: center;

}

li.rating-stats {
  display: flex;
  margin: 0px;
  padding: 0px;
  align-items: center;
  color: rgb(121, 121, 121);
  font-size: 14px;

}

li.item {
  margin-bottom: 1rem;
  list-style: none;
}

li.steps {
  margin-top: .5rem;
}
