/* stylelint-disable selector-id-pattern */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
}

/* nav bar CSS style */

.nav {
  background-color: white;
  border-bottom: 2px solid black;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav a {
  align-items: center;
  color: black;
  display: block;
  float: left;
  font-size: 17px;
  height: 1.5rem;
  margin: auto;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}

.nav a.icon {
  display: none;
  float: right !important;
}

a.nav-logo {
  align-items: center;
  display: flex;
  height: 1.5rem;
}

.nav-title {
  font-size: 1.5em;
}

.nav-icon {
  height: 3rem;
}

.nav .search {
  float: right;
}

.nav input[type="text"] {
  border: 1px solid grey;
  border-radius: 0.2rem;
  font-size: 17px;
  margin-bottom: 0.5rem;
  margin-top: 0.6rem;
  padding: 0.4rem;
}

.nav .search button {
  background: #ddd;
  border: 1px solid grey;
  border-radius: 0.2rem;
  cursor: pointer;
  float: right;
  font-size: 17px;
  margin: 0.6rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 1rem;
  padding: 0.4rem 0.6rem;
}

.nav .search button:hover {
  background: #ccc;
}

@media screen and (max-width: 800px) {
  .nav {
    border-bottom: 2px solid black;
    overflow: hidden;
  }

  div.links {
    display: none;
  }

  .nav a.icon {
    display: flex;
    float: right !important;
    position: fixed !important;
    right: 0 !important;
    top: 0 !important;
  }

  a.nav-logo {
    align-items: center;
    display: flex !important;
    height: 1.5rem;
  }

  .nav a,
  .nav input[type="text"],
  .nav .search button {
    border: none;
    float: none;
    margin: 0;
    padding: 1rem;
    text-align: left;
  }

  .nav input[type="text"] {
    border: 1px solid #ccc;
  }

  .nav .search {
    display: none;
    float: left;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* main CSS style */

main {
  background-color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  margin: 5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 44rem;
  padding: 15px;
  transition: all 0.2s ease;
  width: 80%;
}

/* generic button CSS style */

/* stylelint-disable-next-line no-descending-specificity */
button {
  border: 1px solid rgb(0 0 0);
  color: rgb(0 0 0);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}

.back-btn {
  background-color: #f1f7f7;
}

.org-btn {
  background-color: #fff0d4;
  width: auto;
}

.unit-btn {
  background-color: #f1f7f7;
  display: block;
  font-size: large;
  margin: auto;
  width: 100%;
}

.minus-btn {
  background-color: #f1f7f7;
  font-size: large;
  margin-left: auto;
  width: 50%;
}

.plus-btn {
  background-color: #f1f7f7;
  font-size: large;
  margin-right: auto;
  width: 50%;
}

/* header CSS style */

div.title-edit-wrapper {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: space-between;
  margin-top: 1rem;
}

div.rating-favorite-wrapper {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

div.rating {
  align-items: center;
  display: inline-flex;
}

.divider {
  align-items: center;
  background: rgb(0 0 0);
  display: inline-block;
  height: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 1px;
}

div.recipe-description-wrapper {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  outline: 1px solid rgb(0 0 0);
  padding: 2rem;
}

/* sub-header CSS style */

#sub-header {
  display: flex;
  margin-top: 0.75rem;
  outline: 1px solid rgb(0 0 0);
  padding: 0.5rem;
}

div.sub-header {
  display: grid;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  outline: 0 solid rgb(0 0 0);
  padding: 0.5rem;
  width: 100%;
}

div.ingredients-wrapper {
  border-right: 1px solid rgb(0 0 0);
  height: 26pc;
  overflow: scroll;
}

div.quick-facts-wrapper {
  border-bottom: 1px solid rgb(0 0 0);
  height: 13pc;
}

div.measurements-wrapper {
  height: 8pc;
  padding-top: 1rem;
}

div.serving-adjust {
  align-items: center;
  display: flex;
  margin: auto;
  width: 100%;
}

/* body CSS style */

div.steps-wrapper {
  display: grid;
  height: auto;
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
  outline: 1px solid rgb(0 0 0);
  overflow: scroll;
  padding: 1rem;
}

div.videos-wrapper {
  display: grid;
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
  outline: 1px solid rgb(0 0 0);
  padding: 1rem;
}

div.nutrition-wrapper {
  display: grid;
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
  outline: 1px solid rgb(0 0 0);
  padding: 1rem;
}

/* image CSS style */

img.rating {
  align-items: center;
  display: flex;
  height: 1rem;
}

img.main-recipe-image {
  height: auto;
  margin: 0;
  max-height: 27rem;
  object-fit: cover;
  outline: 1px solid rgb(0 0 0);
  width: 100%;
}

/* text CSS style */

/* stylelint-disable-next-line no-descending-specificity */
a {
  color: black;
  text-decoration: none;
}

p.title {
  font-size: 24px;
}

p.subtitle {
  font-size: 20px;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  text-decoration-color: gold;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}

p.description {
  font-size: 16px;
  margin: 0;
}

p.quick-fact {
  margin-bottom: 1rem;
  padding-left: 1.75rem;
}

p.step {
  margin-bottom: 0.5rem;
}

.serving-size {
  margin-bottom: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  margin-top: 1rem;
}

#measure-title {
  margin-bottom: 1rem;
}

/* list CSS style */

ul {
  padding-left: 1rem;
  padding-right: 2rem;
}

ul.rating-stats {
  align-items: center;
  display: flex;
  padding-left: 1rem;
}

li.rating-stats {
  align-items: center;
  color: rgb(121 121 121);
  display: flex;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

li.item {
  list-style: none;
  margin-bottom: 1rem;
}

li.steps {
  margin-top: 0.5rem;
}

/* Style for timer */
div.timer {
  align-items: center;
  background-color: white;
  border: 3px solid gold;
  border-radius: 25px;
  bottom: 0;
  display: block;
  float: left;
  left: 0;
  margin: 1rem;
  overflow: auto;
  padding: 1rem;
  position: fixed;
  width: auto;
}

/* stylelint-disable-next-line no-descending-specificity */
div.timer button {
  background-color: #fff0d4;
  border-radius: 10px;
}

/* stylelint-disable-next-line selector-class-pattern */
div.timeInput {
  display: inline-flex;
}

#timer {
  font-size: 24px;
  text-align: center;
}

#setTime {
  margin-left: 0.2rem;
}
