/* home.css */


.random-recipes--wrapper {
  column-gap: 30px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 30px 0 0 30px;
  max-width: 700px;
  row-gap: 30px;
  width: 100%;
}

.button--wrapper {
  display: grid;
  justify-items: center;
  margin: 20px 0 0 30px;
  width: 696px;
}

.button--wrapper>button {
  background-color: white;
  border: 1px solid rgb(223, 225, 229);
  border-radius: 40px;
  padding: 8px 10px;
  position: relative;
  z-index: 2;
}

.button--wrapper>img {
  filter: opacity(0.7);
  margin-left: -120px;
  margin-top: 11px;
  position: absolute;
  width: 13px;
  z-index: 3;
}

.hidden {
  display: none;
}

.search-bar {
  display:flex;

}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 3.5rem;
  border-bottom: 2px solid black;
  z-index: 999;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

