@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  min-height: calc(100vh - 64px);
  width: 100%;
}

.hidden {
  display: none;
}

.landing.hidden {
  display: none;
}

/* Navbar CSS */

nav a:hover {
  cursor: pointer;
}

.navbar {
  border-bottom: black solid 2px;
}

.navbar-brand {
  background: none;
  border: none;
  margin-right: 10rem;
  padding: 0;
}

.nav-link {
  background: none;
  border: none;
  color: black !important;
}

.navbar-nav {
  width: 100%;
}

/* Landing Page CSS */

.landing {
  background-image: url("../images/background-2.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: calc(100vh - 4rem);
}

.landing-container {
  grid-column: 2;
  margin-top: 25%;
  padding: 5rem;
}

.landing-title {
  font-size: 5em;
}

.landing-buttons {
  align-items: center;
  display: flex;
}

.landing-buttons button {
  background-color: white;
  border: 1px solid black;
  height: 2.5rem;
  margin-right: 1rem;
  width: 8rem;
}

/* Explore Page CSS */

.explore {
  margin-left: 5%;
  min-height: calc(100vh - 4rem);
  width: 90%;
}

.recipe-row {
  overflow: auto;
  white-space: nowrap;
}

.line {
  background-color: orange;
  border: none;
  border-radius: 3px;
  height: 3px;
  margin-left: 0;
  width: 50%;
}

/* Saved Recipe Page CSS */

.saved-recipes {
  margin-left: 5%;
  min-height: calc(100vh - 4rem);
  position: relative;
  width: 90%;
}

.saved-recipe-header {
  height: 2rem;
  margin: 2rem 0;
  width: 75%;
}

.list-dropdown {
  float: left;
  height: 1.5rem;
  margin-right: 1rem;
  min-width: 7rem;
}

.edit-btn {
  height: 1.5rem;
  min-width: 7rem;
}

/* Search Results CSS */

.search-results {
  margin-left: 5%;
  min-height: calc(100vh - 4rem);
  width: 90%;
}

.row-title {
  margin: 2rem 0 0;
}

/* Create Recipe CSS */

.create-title {
  padding-top: 20px;
}

.create-title-fact {
  padding-top: 10px;
}

.create-ingredient-fact {
  padding-top: 10px;
}

.recipe-step-input {
  margin-top: 10px;
}

.ingredient-title {
  padding-top: 10px;
}

.ingredient-input-list {
  height: 180px;
  overflow-y: scroll;
  text-align: center;
}

.step-input-list {
  border-color: lightgray;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  height: 200px;
  overflow-y: scroll;
}

.add-ingredient-button-wrapper,
.add-step-button-wrapper,
.create-recipe-button-wrapper {
  margin-top: 20px;
  text-align: center;
}

.add-step-button {
  margin-top: 20px;
}

.create-recipe-button {
  margin-bottom: 20px;
}

.create-recipe-page-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

@media only screen and (max-width: 778px) {
  .create-recipe-page-form {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}

@media only screen and (max-width: 430px) {
  .ingredient-title {
    font-size: 10px;
  }
}

@media only screen and (max-width: 330px) {
  .ingredient-title {
    font-size: 7px;
  }
}

/* Recipe Info Page */

.recipe-info {
  background-color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  margin: 2rem auto;
  max-width: 44rem;
  padding: 15px;
  transition: all 0.2s ease;
  width: 80%;
}

/* generic button CSS style */

.info-page-btn {
  border: 1px solid rgb(0 0 0);
  color: rgb(0 0 0);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
}

.back-btn {
  background-color: #f1f7f7;
}

.org-btn {
  background-color: #fff0d4;
  width: auto;
}

.unit-btn {
  background-color: #f1f7f7;
  display: block;
  font-size: large;
  margin: auto;
  width: 100%;
}

.measurement-btn {
  background-color: #f1f7f7;
  font-size: large;
  margin-left: auto;
  width: 50%;
}

/* div wrappers */

.title-edit-wrapper {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: space-between;
  margin-top: 1rem;
}

.rating-favorite-wrapper {
  align-items: center;
  display: flex;
  height: 2rem;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.steps-wrapper {
  display: grid;
  height: auto;
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
  outline: 1px solid rgb(0 0 0);
  overflow: scroll;
  padding: 1rem;
}

.videos-wrapper {
  display: grid;
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
  outline: 1px solid rgb(0 0 0);
  padding: 1rem;
}

.nutrition-wrapper {
  display: grid;
  margin-bottom: 0.5rem;
  margin-top: 1.25rem;
  outline: 1px solid rgb(0 0 0);
  padding: 1rem;
}

.recipe-description-wrapper {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  outline: 1px solid rgb(0 0 0);
  padding: 2rem;
}

/* Ratings */

.rating {
  align-items: center;
  display: inline-flex;
}

.rating-stars {
  align-items: center;
  display: flex;
  height: 1rem;
}

.divider {
  align-items: center;
  background: rgb(0 0 0);
  display: inline-block;
  height: 1.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 1px;
}

/* sub-header CSS style */

.recipe-info-body {
  display: flex;
  margin-top: 0.75rem;
  outline: 1px solid rgb(0 0 0);
  padding: 0.5rem;
}

.info-body-section {
  display: grid;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  outline: 0 solid rgb(0 0 0);
  padding: 0.5rem;
  width: 100%;
}

.ingredients-wrapper {
  border-right: 1px solid rgb(0 0 0);
  height: 26pc;
  overflow: scroll;
}

.quick-facts-wrapper {
  border-bottom: 1px solid rgb(0 0 0);
  height: 13pc;
}

.measurements-wrapper {
  height: 8pc;
  padding-top: 1rem;
}

.serving-adjust {
  align-items: center;
  display: flex;
  margin: auto;
  width: 100%;
}

/* image CSS style */

.recipe-img {
  height: auto;
  margin: 0;
  max-height: 27rem;
  object-fit: cover;
  outline: 1px solid rgb(0 0 0);
  width: 100%;
}

/* text CSS style */

.info-title {
  font-size: 24px;
}

.info-subtitle {
  font-size: 20px;
  margin: 0 0 1rem;
  padding: 0;
  text-decoration: underline;
  text-decoration-color: gold;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}

.description {
  font-size: 16px;
  margin: 0;
}

.serving-size {
  margin: 1rem 2rem;
}

/* list CSS style */

.info-list {
  margin: 0;
  padding: 0;
}

.rating-box {
  align-items: center;
  display: flex;
  padding-left: 1rem;
}

.rating-stats {
  align-items: center;
  color: rgb(121 121 121);
  display: flex;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.info-facts,
.info-ingredient {
  list-style: none;
  margin-bottom: 1rem;
}

.steps {
  margin-top: 0.5rem;
}
