@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

main {
  min-height: calc(100vh - 64px);
  width: 100%;
}
