div.results-sort-wrapper {
  display: flex;
  width: 70rem;
}

div.search-wrapper {
  display: flex;
  position: absolute;
  right: 2rem;
}

div.sort-filter {
  height: min-content;
  margin-bottom: 2rem;
  width: min-content;
}

div.sort-filter-body {
  display: block;
}

form.sort-filter-form {
  background-color: white;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%);
  padding: 15px;
  transition: all 0.2s ease;
}

h2.sort-filters-heading {
  margin-bottom: 0.5rem;
  margin-top: 0;
  text-align: center;
}

button.sort-filter {
  width: 13rem;
}

button.cuisine-collapse {
  height: 2rem;
}

hr.solid {
  border-top: 2px solid black;
  margin: 0.5rem;
}

label.sort-filter-label {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

select {
  margin-top: 0.5rem;
}

div.filters-cuisine-header {
  display: flex;
  justify-content: space-between;
}

output {
  text-align: center;
}
