@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

nav {
  align-items: center;
  border-bottom: 2px solid black;
  display: flex;
  height: 4rem;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  z-index: 99;
}

.nav-logo {
  align-items: center;
  display: flex;
}

.nav-title {
  font-size: 1.5em;
}

.nav-icon {
  height: 3rem;
}

main {
  min-height: calc(100vh - 4rem);
  width: 100%;
}

.explore {
  margin-left: 5%;
  min-height: calc(100vh - 4rem);
  width: 90%;
}

.row-title {
  margin: 0;
  margin-top: 2rem;
}

.recipe-row {
  overflow-x: scroll;
  white-space: nowrap;
  padding-left: 1rem;
}

.line {
  background-color: orange;
  border: none;
  border-radius: 3px;
  height: 3px;
  margin-left: 0;
  width: 50%;
}

.recipe-card {
  background: white;
  border: 1px solid black;
  display: inline-block;
  height: 17rem;
  margin: 0 1.5rem 1.5rem 0;
  width: 15rem;
  white-space: normal;
  overflow-y: scroll;
  overflow-wrap: break-word;
  border-radius: 0.5rem;
}

.card-shadow {
  border: none;
  box-shadow: 0 2px 5px rgba(0,0,0,0.6);
  transition: 0.2s ease-in-out;
}
.card-shadow:hover, .card-shadow:focus {
  border: none;
  transform: scale(1.01);
  box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}

.card-header {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.card-header.card-img {
  overflow: hidden;
}
.card-header.card-img > img{
  display: block;
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
}

.card-body {
  font-size: 0.8rem;
  padding: 0 1rem;
}

.card-footer {
  padding: 0 1rem 1rem 1rem;
}

.card-btn {
  background: var(--color);
  color: white;
  border: none;
  --color: hsl(200, 50%, 50%);
  cursor: pointer;
  transition: 0.2s ease-in-out;
  border-radius: 0.25em;
  padding: 0.5em 0.75em;
}

.card-btn:hover, .card-btn:focus {
  background: hsl(200, 50%, 60%);
}

.card-btn.card-btn-outline {
  background: none;
  border: 1px solid var(--color);
  color: var(--color);
}

.card-btn.card-btn-outline:hover, .card-btn.card-btn-outline:focus {
  background: hsl(200, 50%, 90%);
}