.landing {
  background-image: url("../../images/background-2.jpg");
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: calc(100vh - 4rem);
}

.landing-container {
  grid-column: 2;
  margin-top: 25%;
  padding: 5rem;
}

.landing-title {
  font-size: 5em;
}

.landing-buttons {
  align-items: center;
  display: flex;
}

.landing-buttons button {
  background-color: white;
  border: 1px solid black;
  height: 2.5rem;
  margin-right: 1rem;
  width: 7rem;
}
