@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

html,
body {
  font-family: Lato, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

nav {
  align-items: center;
  border-bottom: 2px solid black;
  display: flex;
  height: 4rem;
  justify-content: space-evenly;
  position: relative;
  width: 100%;
  z-index: 99;
}

.nav-logo {
  align-items: center;
  display: flex;
}

.nav-title {
  font-size: 1.5em;
}

.nav-icon {
  height: 3rem;
}

main {
  min-height: calc(100vh - 4rem);
  width: 100%;
}

.saved-recipes {
  margin-left: 5%;
  min-height: calc(100vh - 4rem);
  position: relative;
  width: 90%;
}

.row-title {
  margin: 2rem 0 0;
}

.recipe-card {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 10rem;
  margin: 0 10px 10px 0;
  width: 10rem;
}

.edit-option {
  border: 2px solid blue;
  border-radius: 4px;
  margin: auto;
  padding: 1px 5px;
  position: absolute;
  top: 8px;
  right: 5%;
  background-color: rgb(228, 226, 226);
}

